body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.shop-btn {
  background: cyan;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: #222;
  padding: 20px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #111;
  padding: 20px;
  width: 300px;
  margin: 10% auto;
}

.close {
  float: right;
  cursor: pointer;
}
